[submodule "ext/rxcpp"]
	path = ext/rxcpp
	url = https://github.com/ReactiveX/RxCpp
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
